<% @ifso = "<span class='ifso-fonts-bold-orange'>ifso</span><span class='ifso-fonts-bold-green'>books</span>" %>
<%= render 'default.html' %>


<section id='side_body_content'>
  <%=raw @page.content_for(:side_body) %>
</section>