<h1>Editing ifgroup with id: <%= @ifgroup.id %></h1>
<p><strong>file: /home/eric/webs/ifbooks/app/views/ifgroups/edit.html.erb</strong></p>
<%= render 'form' %>

<%= link_to 'Show', @ifgroup %> |
<%= link_to 'Back', ifgroups_path %>
