



<section id="top_bar_content">
  Book Title <%= @book.title %>
</section>

<section id='body_content'>
  <h1>REGISTER HERE</h1>
  <p><strong>file: /home/eric/webs/ifbooks/app/views/ifgroups/register.html.erb</strong></p>
  <%= render 'form' %>

  <%= link_to 'Back', ifgroups_path %>
</section>


<section id='side_body_content'>



</section>
