$iforange: #f68d1f;
$ifpaleorange:#FAAC60;
$ifgreen: #87c440;
$ifblack: #231f20;
$ifbggreen: #007839;
$ifdarkgreen: #487638;
$ifblue: #00aeef;
$pale_green: #e4f1d4;
$pale_blue: #c7eafc;
$ifyellow: #fff56c;
$georgia: Georgia,Utopia,Palatino,'Palatino Linotype',Times, "Times New Roman",serif;
$sanserif: Arial,FreeSans,Helvetica,sans-serif;



@mixin def-body-text {
  font: {
    family: $sanserif;
    size: 0.933em;
  }
  color: $ifblack;
  line-height: 1.429em;
  letter-spacing: 0.036em;
}

@mixin large-text($size: 1.6em) {
  font: {
    family: $sanserif;
    size: $size;
    weight: normal;
  }
  color: $ifblack;
  line-height: 1.25em;
}

@mixin large-green-italic {
  @include large-text;
  font: {
    family: $georgia;
    style: italic;
  }
  letter-spacing: 0;
  color: $ifdarkgreen;
  text-align: center;
}

@mixin book-details-bkg($bgcolor: #fff, $bordercolor: $ifgreen) { 
  background-color: $bgcolor;
  border: {
    style: solid;
    width: 1px;
    color: $bordercolor;
  }
}

@mixin border-radius-all($n) {
    -moz-border-radius: $n;
    -webkit-border-radius: $n;
    -o-border-radius: $n;
    border-radius: $n;
}

@mixin box-sizing($n) {
    -webkit-box-sizing: $n;
    -moz-box-sizing: $n;
    box-sizing: $n;
}

@mixin def_body_content {
  float: left;
  width: 47%;
/*  background: white;*/
  //color: #333;
  padding: 20px 20px 20px 67px;
  @include def-body-text;
  ul {padding-left: 18px;}
  li {
    list-style: none;
    margin-bottom: 5px;
    &:before {
      content: '\2022';
      display: block;
      position: relative;
      max-width: 0px;
      max-height: 0px;
      left: -17px;
      top: -0px;
      color: $iforange;
      font-size: 2em;
    }
  }
}