/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
@import "./partials/mixins";

body {
	  background: #fff;
    @include def-body-text;
    margin: 0;
}

#logo {
  height: 111px;
  margin: 0;
  background: $ifgreen;
  background-image: url('/assets/weblogo.png');
  background-repeat: no-repeat;
  
}

#logoforschools {
 @extend #logo;
 background-image: url('/assets/logoforschools.png');
}

#menu ul {
  list-style: none;
  padding: 0px;
  margin: 0 0 0 124px;
  padding-bottom: 30px;
  font-size: 1em;
  //font-weight: bold;
  li {
    float: left;
    margin-right: 6px;
    a {
      color: #87c440;
      display: block;
      padding: 8px 20px 8px 0px;
      text-decoration: none;
      &:hover {
        color: $iforange;
      }
    }
    &.selected a{
      color: $iforange;
      //background: #CCC;
    }
  }
}

#body_content, #side_body_content {
  float: left;
  width: 47%;
  background: white;
  //color: #333;
  padding: 20px 20px 20px 67px;
  @include def-body-text;
  ul {padding-left: 18px;}
  li {
    list-style: none;
    margin-bottom: 5px;
    &:before {
      content: '\2022';
      display: block;
      position: relative;
      max-width: 0px;
      max-height: 0px;
      left: -17px;
      top: -0px;
      color: $iforange;
      font-size: 35px;
    }
    
  }
  #books {
    padding-left: 0px;
    li {
      //position: relative;
      overflow:hidden;
      :before {
        content: none;
        left: 0px;
      }
      clear:left;
      img {float:left;}
    }
    .book_container{ position: relative;}
    .book_container span{
      width: 100%;
      height: 100%;
      position: absolute;
      z-index:2;
      top: 0px;
      left: 0px;
    }
  }
}

#side_body_content {
  width: 39%;
  padding-left:23px;
  padding-right:5px;
}

#top_bar_content {
  width: 94%;
  padding: 37px 20px 43px 39px;
  letter-spacing:0;
}

footer {
  text-align: center;
  font-size: 0.571em;
  color: $ifblack * 5;
}

//STYLES FOR Refinery wymeditor dropdown
.ifso-lrg-green-italic {
  @include large-green-italic;
}

.ifso-v-lrg-text {
  @include large-text(1.50em);
  letter-spacing: 0.014em;
  line-height: 1.4em;
}

.ifso-bold-orange {
  color: $iforange;
  font-weight: bold;
}

.ifso-bold-green {
  color: $ifgreen;
  font-weight: bold;
}

.ifso-bigger-bolder {
  @include large-text;
  font-weight: bold;
}