/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
@import "./partials/mixins";

body {
	  background: #fff;
	  font-family: $sanserif;
	  font-size: 14px;
	  line-height: 18px;
}

#logo {
  height: 111px;
  margin-bottom: 0;
  background: $ifgreen;
  background-image: url('/assets/weblogo.png');
  background-repeat: no-repeat;
  
}

#menu ul {
  list-style: none;
  padding: 0px;
  margin: 0 0 0 116px;
  padding-bottom: 30px;
  //font-weight: bold;
  li {
    float: left;
    margin-right: 6px;
    a {
      color: #87c440;
      display: block;
      padding: 5px 10px;
      text-decoration: none;
      &:hover {
        color: $iforange;
      }
    }
    &.selected a{
      color: $iforange;
      //background: #CCC;
    }
  }
}

#body_content, #side_body_content {
  float: left;
  width: 45%;
  background: white;
  //color: #333;
  padding: 20px 20px 20px 67px;
  @include def-body-text;
  
}

#top_bar_content {
  width: 90%;
  padding: 20px 20px 20px 45px;
}

.home_top {
  @include large-green-italic;
}

#home_text {
  @include large-text(20px);
}

