/*
Document   : booksforschools.css
Created on : 30-Apr-2012, 17:51:57
Author     : eric
Description:
Purpose of the stylesheet follows.
*/

@import "./partials/mixins";

.schools {
  background-color:$ifdarkgreen;
}

#left_margin {
/*  position:absolute;
  left:0;*/
  clear:left;
  float:left;
  margin-top: -37px;
}
.left_of_page {
  //@include box-sizing(border-box);
  float: left;
  max-width: 550px;
  color: $ifyellow;
  border: {
    right: 1px solid;
  }
}

#title_bar_content {
  //font size comes from textFill jQuery function
  //@include box-sizing(border-box);
  float:left;
  width: 100%;
  //max-width: 650px;
  margin-top: 41px;
  text-align: center;
  letter-spacing: 0.014em;
  line-height: 1.4em;
  
  
}

#book_body_content {
  @include def_body_content;
  @include box-sizing(border-box);
  clear: left;
  padding: 21px 35px 0 35px;
  width: 100%;
  color: $ifyellow;
  
}