@import "./partials/mixins";
#title_content{
  width: 94%;
  padding: 10px 20px 0 0;
  letter-spacing:0;
}
#register_book_title {
  @include large-text(4em);
  text-align: left;
  color: $ifdarkgreen;

  //clear: both;
  //float: left;
  padding-left: 39px;
  //font-size: 50px;
}

#new_ifgroup {
  margin-top: -13px;
}

#register_left_column {
  float: left;
  width: 58%;
}